@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/poppins-regular.woff") format("woff"),
      url("/assets/fonts/Poppins-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/assets/fonts/Poppins-semiBold.woff") format("woff"),
      url("/assets/fonts/Poppins-SemiBold.woff2") format("woff2");
  }

  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/fonts/Poppins-Bold.woff") format("woff"),
      url("/assets/fonts/Poppins-Bold.woff2") format("woff2");
  }
}

@layer components {
  .btn {
    @apply font-semibold small text-white rounded-[24px] px-[20px] py-[8px];
  }

  .btn-primary {
    @apply bg-primary-500 hover:bg-primary-600 focus:bg-primary-600 cursor-pointer;
  }

  .btn-secondary {
    @apply bg-secondary-500 hover:bg-secondary-600 focus:bg-secondary-600 cursor-pointer;
  }

  .btn-warning {
    @apply bg-warning-700 hover:bg-warning-800 focus:bg-warning-800;
  }

  .btn-success {
    @apply bg-success-500 hover:bg-success-600 focus:bg-success-800;
  }

  .btn-neutral-outline {
    @apply bg-transparent border-neutral-900 text-neutral-900 border rounded-[20px] px-[12px] py-[7px] hover:bg-neutral-900 hover:text-white font-semibold;
  }

  .btn-primary-outline {
    @apply bg-transparent border-primary-500 text-primary-500 border rounded-[24px] px-[16px] py-[9px] text-small cursor-pointer hover:bg-primary-500 hover:text-white font-semibold;
  }

  .btn-secondary-outline {
    @apply bg-transparent border-secondary-500 text-secondary-500 border rounded-[24px] px-[16px] py-[7px] hover:bg-secondary-500 hover:text-white font-semibold;
  }

  .custom-vertical-scrollbar::-webkit-scrollbar {
    @apply w-[5px] h-[8px];
  }

  .custom-vertical-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent my-[8px];
  }

  .custom-vertical-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-neutral-200 hover:bg-neutral-200 rounded-[10px];
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

/* typograpy */
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.02em;
}

.h1-xl {
  @apply text-heading-xl;
}

.h1-lg {
  @apply text-heading-lg;
}

h1,
.h1 {
  @apply text-heading2 lg:text-heading1;
}

h2,
.h2 {
  @apply text-heading3 lg:text-heading2;
}

h3,
.h3 {
  @apply text-heading4 lg:text-heading3;
}

h4,
.h4 {
  @apply text-heading5 lg:text-heading4;
}

h5,
.h5 {
  @apply text-heading6 lg:text-heading5;
}

h6,
.h6 {
  @apply text-para-lg lg:text-heading6;
}

.para-lg {
  @apply text-para-lg;
}

p,
.para {
  @apply text-para;
}

.small {
  @apply text-small;
}

.x-small {
  @apply text-x-small;
}

/* typograpy */

@layer utilities {
}

.not-found {
  text-align: center;
  margin-top: 50px;
}

.not-found h1 {
  font-size: 6em;
  margin-bottom: 20px;
}

.not-found h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.not-found p {
  margin-bottom: 30px;
  font-size: 1.2em;
}

.not-found a {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.not-found a:hover {
  background-color: #0056b3;
}

body {
  margin: 0%;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Full viewport height */
}

.spinner {
  width: 50px;
  height: 50px;
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top-color: #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ======================================================================================== */
